* {
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}

main ul li {
    list-style: none;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

header {
	display:flex;
	justify-content:space-around;
    align-items: center;
    flex-wrap: wrap;
}

main {
    display:flex !important;
    justify-content: space-around;
}

main aside {
    width: 20%;
    /*background-color: grey;*/
    padding:20px;
}

main aside p {
    height: 100%;
}
main aside p a {
    display:block;
}

main section iframe {
    display:block;
    max-width:90%;
    margin:auto;
}

main section {
    padding: 20px;
    width:90%;
}
footer {
    display: flex;
    justify-content: center;
}
footer p {
    text-align: center;
}

@media (min-width:1000px) {
    #mobile {
        display: none;
    }
}
@media (max-width:1000px) {
    #mobile {
        display: block;
    }
    #desktop{
        display:none;
    }
}
