* {
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh; 
}

header {
	display:flex;
	justify-content:space-around;
    align-items: center;
}

main {
    overflow: hidden;
}
section.post {
    padding: 30px;
}


section.post iframe {
    display:block;
    min-width: 50%;
    margin:auto;
}

footer {
    display: flex;
    justify-content: center;
}

@media (min-width:1000px) {
    #mobile {
        display: none;
    }
}
@media (max-width:1000px) {
    #mobile {
        display: block;
    }
    #desktop{
        display:none;
    }

}
